@import '../../../theme/theme.scss';
.player {
  height: 25rem;
  @include mat-elevation(4);
  border-radius: 0.3rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  mat-form-field {
    width: 100%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  mat-slider {
    flex-grow: 1;
    margin-top: 0.5rem;
  }
  #volume {
    margin-left: auto;
  }
}
