<div id="wrapper">
  <app-player
    *ngFor="let player of players; index as i"
    (started)="getValues($event, i)"
    [input]="player"
  ></app-player>
  <div id="buttons">
    <button mat-icon-button (click)="Push({})">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="Pop()">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</div>
<button
  [disabled]="players.length !== saveable"
  mat-icon-button
  id="save"
  class="medium"
  (click)="save()"
>
  <mat-icon>save_alt</mat-icon>
</button>
